body {
    background-color: #ecece4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ecece4;
    max-width: 1277px;
    width: 100%;
    margin: 0;
    padding: 0;

}

table {
    text-align: center;
}

header {
    background-image: url("images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
    min-height: 400px;
    /* justify-content: center; */




}

/* .logo {
    display: flex;
    align-items: center;
    align-content: center;
} */

nav {
    width: 50%;
    max-width: 900px;
}

ul {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
}

li {
    list-style: none;
}

/* .inline-block {
    width: 100%;
    max-width: 1400px;
} */

.space {
    height: 400px;
}

.logo {
    margin: 30px;
}

.banner {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1277px;
    width: 100%;

}

.starBeer {
    position: relative;
    margin-top: -20vh;
    max-height: 402px;
    height: 100%;
    max-width: 406px;
    width: 100%;
}

.circleMusic {
    max-height: 254px;
    height: 100%;
    max-width: 594px;
    width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    header {
        height: 50vh; /* Adjust height for smaller screens */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        height: 40vh; /* Adjust height for even smaller screens */
    }

    .logo img {
        max-width: 80%;
    }

    .banner {
        flex-direction: column;
    }

    .starBeer, .circleMusic {
        max-width: 90%;
    }
}