body {
    background-color: #00558e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    max-width: 1277px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

img {
    margin: 0 auto;
    text-align: center;
    height: auto;
    width: 100%;
}

p {
    text-align: center;
    margin: auto;
}

header {
    background-image: url("images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
    min-height: 400px;
    color: #ecece4;
    /* justify-content: center; */




}

/* .logo {
    display: flex;
    align-items: center;
    align-content: center;
} */

nav {
    width: 50%;
    max-width: 900px;
}

ul {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    padding: 0px;
}

li {
    list-style: none;
    cursor: not-allowed;

}

/* .inline-block {
    width: 100%;
    max-width: 1400px;
} */

.space {
    height: 400px;
}

.logo {
    margin: 30px;
}

.logo img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1277px;
    width: 100%;
    background-color: #ecece4;

}

.starBeer {
    position: relative;
    margin-top: -20vh;
    max-height: 402px;
    height: 100%;
    max-width: 406px;
    width: 100%;
}

.circleMusic {
    max-height: 254px;
    height: 100%;
    max-width: 594px;
    width: 100%;
}

.circlesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    column-gap: 40px;
    row-gap: 40px;
    padding: 5% 16px;
    background-color: #ecece4;
}

.gridText {
    width: 190px;
    font-size: 18pt;
}

/* .grid-image {
    display: flex;
    flex-direction: column;
    justify-content: space-bet
} */

footer {
    background-color: #454545;
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
    padding: 20px;
}

.hours {
    width: 30%;
    font-size: 2vw;
    color: white;
    display: flex;
    padding: 5%;
}

.mapImg {
    width: 100%;
    padding: 5%;

}

.socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.socialMedia img {
    padding: 5%;
}

@media (max-width: 972px) {
    header {
        height: 50vh;

    }

    nav ul li {
        margin-bottom: 10px;
    }

    .hours {
        font-size: 16px;
    }
}

@media (max-width: 803px) {
    header {
        height: 40vh;

    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        max-width: 80%;
    }

    .banner {
        flex-direction: row;
    }

    .starBeer,
    .circleMusic {
        max-width: 90%;
    }
}

@media (max-width: 704px) {
    header {
        height: 30vh;

    }

    .logo img {
        max-width: 80%;
    }

    .banner {
        flex-direction: row;
    }

    .starBeer,
    .circleMusic {
        max-width: 90%;
    }

    .mapImg {
        display: none;
    }
}

@media (max-width: 655px) {

    .starBeer {
        position: relative;
        margin-top: -13vh;
        max-height: 402px;
        height: 100%;
        max-width: 406px;
        width: 100%;
    }

    .circlesGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
        column-gap: 40px;
        row-gap: 40px;
    }



}

@media (max-width: 480px) {
    header {
        height: 30vh;

    }

    .logo img {
        max-width: 80%;
    }

    .banner {
        flex-direction: row;
        display: none;
    }

    .starBeer,
    .circleMusic {
        max-width: 90%;
    }
}

@media (max-width: 426px) {

    .circlesGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
        column-gap: 40px;
        row-gap: 40px;
    }

}